<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.trident.game.maid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
         >
         
        <!-- TitleActivity -->
        <activity
            android:name="jp.ac.trident.game.maid.title.TitleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- MainActivity -->
        <activity 
            android:name="jp.ac.trident.game.maid.main.MainActivity"
            android:screenOrientation="landscape">
        </activity>
        
        <!-- GameActivity -->
        <activity
            android:name="jp.ac.trident.game.maid.game.GameActivity"
            android:screenOrientation="landscape">
        </activity>
        
        <!-- StatusActivity -->
        <activity 
            android:name="jp.ac.trident.game.maid.status.StatusActivity"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
